body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #000;
    color: #00ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#video-background {
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    color: #00ff00;
    font-size: 36px;
}

.output {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin-top: 20px;
    overflow-x: auto;
    text-align: center;
    z-index: 2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    border: 1px solid #333;
    text-align: center;
    color: #00ff00;
}

.username {
    color: #3498db;
}

.password {
    color: #e74c3c;
}

.dot {
    color: #27ae60;
}

/* Added style for "SSH BRUTE FORCE" /
#ssh-brute-force {
    font-size: 36px;
    color: #00ff00;
    margin-bottom: 20px;
}
