body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     /* Prevent scrolling caused by the video */
   
}

#video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Set a lower z-index for the video */
    
}

#video-background {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}
.result-container {
    width: 90%;
    max-width: 800px;
    margin-top: 20px;
    background-color: #000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    position: absolute; /* Change to absolute */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    max-width: 600px;
    margin: 0 auto;
    max-height: 685px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Use rgba to control the background opacity */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Set a higher z-index for the container */
}

form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    position: relative; /* Ensure the input stays on top of the video */
    z-index: 3; /* Set a higher z-index for the input */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s ease; /* Added transform property for shaking */
    animation: shake 0.5s ease infinite; /* Apply the shaking animation */
    position: relative; /* Ensure the button stays on top of the video */
    z-index: 3; /* Set a higher z-index for the button */
}

button:hover {
    background-color: #45a049;
    animation: none; /* Disable shaking on hover */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-5px); /* Adjust the distance of the shake */
    }
    50% {
        transform: translateX(5px);
    }
}
