/* Add these styles to style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 20px;
    margin: 0;
}

#result-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#video-container {
    position: relative;
}

#video-background {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
}

